/* Universal Styles */

html {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
}

/* Header Styles */

header {
  width: 100%;
  height: 4rem;
  background-color: white;
  z-index: 1
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

header .image-container img {
  margin-left: 1.5rem;
}

header nav a{
    text-decoration: none;
    color: grey;
    margin-right: 1.5rem;
}

header .image-container {
  height: 2rem;
}

header .text-container .title1{
  color: black;
}

header .text-container .title2{
  color: darkgrey;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Banner Styles */

.banner {
  display: flex;
  width: 100%;
  background-color: lightgrey;
}

.banner .container {
  display: flex;
}

.banner .container .image-container {
  display: flex;
  /* border: 1px dotted black; */
}

.banner img {
  width: 675px;
  height: 500px;
  margin: 2rem 1.5rem;
}

.banner .container .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  padding-right: 12rem;
  /* border: 1px dotted black; */
}
.banner h1 {
  font-weight: bold;
  color: rgb(76, 76, 76);
  font-size: 2.25rem;
  padding-bottom: 1.5rem;

}
.banner h2 {
  font-weight: bold;
  color: rgb(79, 78, 76);
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.button {
  color: white;
  background-color: rgb(76, 76, 76);
  padding: 0.5rem 1.5rem;
  text-align: center;
}

/* Guide Styles */

.guide {
  display: flex;
  margin-bottom: 1rem;
}

/* Guide Style Left */

.guide .container-left {
  display: flex;
  flex-direction: column;
  /* border-right: 0.5px solid lightgrey; */
}

.guide .container-left .image-container-left {
  display: flex;
}

.guide .container-left .image-container-left img {
  width: 675px;
  height: 400px;
  margin: 2rem 1.5rem;
}

.guide .container-left .text-container-left {
  width: 675px;
  height: 400px;
}

.guide .container-left .text-container-left h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: rgb(76,76,76);
  margin: 0rem 1.5rem 1.5rem 1.5rem;
}

.guide .container-left .text-container-left .text {
  font-size: 1rem;
  color: rgb(76, 76, 76);
  margin: 0rem 1.5rem 2rem 1.5rem;
}

.guide .container-left .text-container-left #title {
  margin-left: 1.5rem;
  /* margin-bottom: 2rem; */
}

/* Guide Style Right */

.guide .right {
  border-left: 0.5px solid lightgrey;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: -1rem;
}

.right .image-container {
  margin-top: 0rem;
}

.right .image-container img {
  width: 8rem;
  margin: 1rem 0rem;
  padding-left: 1.25rem;

}

.right .two .image-container img {
  /* margin-top: 1rem; */
}

.right .three .image-container img {
  /* margin-top: 1rem; */
}

.right .one,
.two,
.three {
  display: flex;
}

.right .one:hover, .two:hover, .three:hover {
  background-color: lightgrey;
}

.right .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right .text-container span{
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 5rem;
}

.right .text-container .title {
  font-size: 1.25rem;
}

.right .text-container .content {
  font-size: 0.75rem;
}

.right .text-container .link a {
  font-size: 0.75rem;
  text-decoration: none;
}

/* Class Options Section */

.boxes {
  background-color: lightgrey;
  padding: 2rem 4.5rem;
}

.boxes span{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(76,76,76);
}

.class-options {
  display: flex;
}

.classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 4.5rem;
}

.class {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.class .image-container img {
  width: 300px;
  height: 150px;
}

.class .text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 300px;
  height: 150px;
  background-color: white;
  margin-bottom: 2rem;
}

.class .text-container .course-title {
  font-size: 1.25rem;
  padding: 2rem 1rem 0rem 1rem;
  text-align: left;
}

.class .text-container .courses {
  font-size: 1rem;
  padding: 0.5rem 1rem 0rem 1rem;
  text-align: left;
  font-weight: normal;
}

.class .text-container .description {
  font-size: 0.75rem;
  margin: 0.5rem 1rem 0rem 1rem;
  text-align: left;
  font-weight: normal;
}
