/* Universal Styles */

html {
  font-size: 16px;
}

/* Header Styles */

header {
  width: 100%;
  height: 4rem;
  background-color: white;
  z-index: 1
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

header .image-container img {
  margin-left: 1.5rem;
}

header nav a{
    text-decoration: none;
    color: grey;
    margin-right: 1.5rem;
}

header .image-container {
  height: 2rem;
}

header .text-container .title1{
  color: black;
}

header .text-container .title2{
  color: darkgrey;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Banner Styles */

.banner {
  display: flex;
  width: 100%;
  background-color: lightgrey;
}

.banner .container {
  display: flex;
}

.banner .container .image-container {
  display: flex;
  /* border: 1px dotted black; */
}

.banner img {
  width: 675px;
  height: 500px;
  margin: 2rem 1.5rem;
}

.banner .container .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  /* border: 1px dotted black; */
}

.banner h2 {
  font-weight: bold;
  color: grey;
  font-size: 2rem;
}

/* Guide Styles */

.guide {
  display: flex;
}

.guide .container-left {
  display: flex;
  flex-direction: column;
}

.guide .container-left .image-container-left {
  display: flex;
}

.guide .container-left .image-container-left img {
  width: 675px;
  height: 400px;
  margin: 2rem 1.5rem;
}
